body {
  font-family: Lato;
  font-weight: 300;
}

.logo {
  width: 200px;
  margin: 20px auto 5px auto;
}

#home {
  visibility: hidden;
}

img {
  width: 200px;
  margin: 0 auto;
}

.content {
  width: 75%;
  margin: auto;
}

.input {
  width: 75%;
  margin: 30px auto 30px auto;
  padding: 8px;
  position: relative;
  height: 35px;
  font-size: 1.1em;
  border-radius: 3px;
}

.label {
  padding: 10px;
  font-size: 1em;
  color: #6E748D;
}

#search {
  position: absolute;
  left: 78%;
  top: 227px;
  background-color: #CF0814;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 4px;
  width: 100px;
  font-size: 1em;
  text-align: center;
}

#search:hover {
  background-color: #970711;
  cursor: pointer;
}

#place {
  padding: 10px;
  font-size: 1em;
  color: #6E748D;
  margin-left: 11px;
}

#results {
  margin: 50px 0px 30px 0px;
  border-bottom: 1px solid gray;
  padding: 30px 0px 10px 0px;
}

#list {
  margin: 30px 0px 30px 0px;
}

#list.rating {
  color: blue;
}

.business {
  margin: 30px 0px 30px 0px;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  padding: 10px;
}

.business:hover {
  background-color: #D0D0D0;
  cursor: pointer;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
}

.price {
  width: 50px;
  float: right;
  margin-right: 150px;
}

.distance {
  width: 50px;
  float: right;
  margin-right: 200px;
}

.rating {
  width: 60px;
  float: right;
}

.phone {
  display: inline-block;
  margin-bottom: 25px;
}

.review {
  font-style: italic;
}

.rating {
  text-align: right;
}

#no-match {
  font-size: 1.3em;
  color: #CF0814;
  margin: 30px 0px 30px 0px;
  padding: 10px;
}

.title {
  left: 0px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

.miles {
  right: 0px;
  float: right;
  font-weight: normal;
  font-size: 1em;
}

.stars {
  left: 0px;
  margin: 15px 0px 0px 0px;
  padding-bottom: 15px;
}

.cost {
  right: 0px;
  float: right;
}

.write {
  text-align: center;
  width: 25%;
  margin: auto;
  height: 50px;
  box-shadow: 3px 3px 20px gray;
  background-color: #CF0814;
  border-radius: 3px;
  vertical-align: middle;
  color: #FFFFFF;
  line-height: 50px;
}

.write:hover {
  background-color: #970711;
  cursor: pointer;
}

.biz-image {
  width: 100%;
  height: 500px;
  margin: 5px 0px 15px 0px;
}

#image-1 {
  background-image: url("http://i.imgur.com/pSjTWqM.jpg?3");
  background-repeat: no-repeat;
  background-position: center;
}

#image-2 {
  background-image: url("http://i.imgur.com/d7Z6lh5.jpg?2");
  background-repeat: no-repeat;
  background-position: center;
}

#image-3 {
  background-image: url("http://i.imgur.com/ydlvyrN.jpg?2");
  background-repeat: no-repeat;
  background-position: center;
}

#image-4 {
  background-image: url("http://i.imgur.com/KkULKY0.jpg?2");
  background-repeat: no-repeat;
  background-position: center;
}

#image-5 {
  background-image: url("http://i.imgur.com/ANrqPHU.jpg?2");
  background-repeat: no-repeat;
  background-position: center;
}

#image-6 {
  background-image: url("http://i.imgur.com/MAB44QV.jpg?2");
  background-repeat: no-repeat;
  background-position: center;
}

#image-7 {
  background-image: url("http://i.imgur.com/D51GqeK.jpg?3");
  background-repeat: no-repeat;
  background-position: center;
}

#image-8 {
  background-image: url("http://i.imgur.com/FQ1m3Ta.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

#image-9 {
  background-image: url("http://i.imgur.com/3gnjVLO.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

#image-10 {
  background-image: url("http://i.imgur.com/K6xJxhu.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

#image-11 {
  background-image: url("http://i.imgur.com/9GyDUwV.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

#image-12 {
  background-image: url("http://i.imgur.com/AmODslY.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

#image-13 {
  background-image: url("http://i.imgur.com/hO8nwdi.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

#image-14 {
  background-image: url("http://i.imgur.com/8GTB8X2.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

#image-15 {
  background-image: url("http://i.imgur.com/DEakqzi.jpg?1");
  background-repeat: no-repeat;
  background-position: center;
}

.local {
  margin-bottom: 15px;
  border-bottom: solid 1px gray;
  padding-bottom: 15px;
  font-size: 1.2em;
}

.biz-directions {
  height: 80px;
  border: solid 1px #D0D0D0;
  border-radius: 3px;
  text-align: left;
  vertical-align: top;
  margin: 15px auto;
  padding: 10px 0px 0px 5px;
}

.biz-call {
  height: 80px;
  border: solid 1px #D0D0D0;
  border-radius: 3px;
  text-align: left;
  vertical-align: top;
  margin: 15px auto;
  padding: 10px 0px 0px 5px;
}

.feedback-box {
  padding-bottom: 15px;
  border-bottom: solid 1px gray;
  font-weight: bold;
}

.biz-directions-header {
  font-weight: bold;
}

.biz-call-header {
  font-weight: bold;
}

.directions {
  text-decoration: none;
}

.directions:hover {
  color: #CF0814;
}

.call {
  text-decoration: none;
  color: black;
}

.call:hover {
  color: #CF0814;
}

.write-hidden {
  visibility: hidden;
}

.image-hidden {
  visibility: hidden;
}

#feedback-text {
  width: 100%;
  border-radius: 3px;
  margin: 15px auto;
  font-size: 1.2em;
  padding:10px 5px 300px 5px;
}

#feedback-text::-webkit-input-placeholder {
   font-size: 1.2em;
}

#enter-feedback {
  height: 30px;
  width: 20%;
  margin: 15px auto;
  border-radius: 3px;
  font-size: 1em;
  padding-left: 5px;
}

#enter-feedback::-webkit-input-placeholder {
  font-size: 0.75em;
}

.feedback-content {
  margin: 20px 0px;
  border-top: solid 1px #D0D0D0;
  padding-top: 15px;
}

.close {
  margin: 20px 0px 20px 0px;
  padding: 20px 0px;
  font-size: 1.2em;
  font-weight: bold;
}

.post {
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  color: #01C004;
}

.post:hover {
  color: #007401;
  cursor: pointer;
}

.close:hover {
  color: #CF0814;
  cursor: pointer;
}

.length {
  color: #CF0814;
}

.star-warning {
  padding-left: 10px;
  color: #CF0814;
  font-weight: bold;
}

#feedback-warning {
  width: 100%;
  height: 40px;
  color: #CF0814;
  font-weight: bold;
}

#length {
  width: 100%;
  height: 40px;
}

.confirm {
  padding-left: 25px;
  color: #3BBF3E;
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 60%;
  font-weight: bold;
  -webkit-animation: fadeInOut 6s;
  animation: fadeInOut 6s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.new-feedback {
  height: 50px;
  border: solid 1px #D0D0D0;
  border-radius: 3px;
  margin: 0px 0px 30px 0px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback {
  height: 50px;
  border: solid 1px #CF0814;
  border-radius: 3px;
  margin: 30px 0px 30px 0px;
  padding-left: 10px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.recent-feedback {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 40px auto;
  clear: both;
}

.fav-feedback {
  height: 40px;
  margin-top: 15px;
}

.stamp {
  font-size: 0.75em;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}
